
{{define SongNotFound}}{{.User.DisplayName}}, no results found.{{end}}

{{define ErrorOccurred}}{{.User.DisplayName}}, an error occured, the developer has been notified!{{end}}

{{define SongQueued}}{{.User.DisplayName}} has queued {{.Video.Title}} in spot .{{end}}
